<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>574170813366-l5pht4l0e9lqi93dn8nb5k67b1rf2knd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574170813366-l5pht4l0e9lqi93dn8nb5k67b1rf2knd</string>
	<key>API_KEY</key>
	<string>AIzaSyDnmxVHHCm6JTrn_4HtTNMy2bpekHb-w2o</string>
	<key>GCM_SENDER_ID</key>
	<string>574170813366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.coffer.cofferApp</string>
	<key>PROJECT_ID</key>
	<string>coffer-tech</string>
	<key>STORAGE_BUCKET</key>
	<string>coffer-tech.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574170813366:ios:5e6eb81a09d45aa6</string>
	<key>DATABASE_URL</key>
	<string>https://coffer-tech.firebaseio.com</string>
</dict>
</plist>
